@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

sup{
    font-size: 80%;
    vertical-align: top;
    position: relative;
    top: 1px;
  }

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

.grid {
    display: grid;
}

.header-h1 {
    @include customText($titleAndBlockDarkColor, 3.42rem, 900, auto);

}

.header-h2 {
    @include customText($titleAndBlockDarkColor, 2.28rem, 700, auto);
}

.header-h3 {
    @include customText($colorSelectSite, 24px, 700, auto);
}

.header-h4 {
    @include customText($colorForHeader4, 16px, 400, auto);
}

.header-h5 {
    @include customText($titleAndBlockDarkColor, 30px, 400, auto);
}

.text {
    @include customText($simpleTextColor, 14px, 400, auto);
}

.wrapper {
    overflow-x: hidden;
    height: 100%;
    @include customFlex(column, auto, auto, auto);
}

.content {
    flex: 1 0 auto;
}

// header block
.header {
    background-color: $titleAndBlockDarkColor;
    padding-top: 20px;
    padding-bottom: 20px;
    @include customFlex(row, space-between, center, nowrap);
    position: relative;
}

.logo-search {
    display: flex;
    gap: 40px;

    &>* {
        color: $headerIconsColor;
        font-size: 26px;
        margin: auto;
        -webkit-transition: all 1s ease;
        transition: all 1s ease; 

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.nav {
    display: flex;
    gap: 32px;

    & i {
        color: $headerIconsColor;
        font-size: 26px;
        margin: auto;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease; 

        &:hover {
            color: $colorSelectSite;
        }
    }
}

#burger {
    position: absolute;
    left: -999999px;
    visibility: hidden;

    &:checked ~ .burger__nav {
        right: 0;
    }    
}

.burger__nav {
    background: $colorForHeader4;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: $widthBurgerMenu;
    padding: 32px;
    box-sizing: border-box;
    position: absolute;
    top: 85px;
    right: -$widthBurgerMenu;
    transition: right .3s;
}

.burger-box {
    position: relative;

    &__close-btn {
        position: absolute;
        top: -24px;
        right: -24px;
    }

    &__title {
        @include customText($blackColor, 14px, 700, auto);
        margin-bottom: 24px;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__item-summary {
        @include customText($colorSelectSite, 14px, 700, auto);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; 

        &:hover {
            text-shadow: 1px 1px 1px #000;
        }
    }

    &__link-box {
        @include customFlex(column, auto, auto, auto);
        gap: 11px;
        padding: 12px 22px;
    }

    &__item-link {
        @include customText($filterLinksColor, 14px, 400, auto);

        &:hover {
            color: $colorSelectSite;
        }
    }
}

// top-head block
.top-head {
    background: #f8f3f4;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        @include customText($colorSelectSite, 24px, 400, 29px);
    }
}

.breadcrumbs {
    &__ul {
        list-style-type: none;
        display: flex;
    }

    &__li:not(:last-child)::after {
        content: '/';
        padding-left: 8px;
        padding-right: 8px;
        @include customText($breadcrumbsLinkColor, 14px, 300, 17px);
    }

    &__li:last-child .breadcrumbs__link {
        font-weight: 700;
        color: $colorSelectSite;
    }

    &__link {
        @include customText($breadcrumbsLinkColor, 14px, 300, 17px);
        transition: all 0.4s ease; 

        &:hover {
            text-decoration: underline;
        }
    }
}

// product block
.product-box {
    padding-bottom: 96px;

    &__content {
        @include customFlex(row, center, center, wrap);
        gap: $gapGrid;
        padding-bottom: 48px;
    }    
}

.filter-sort {
    height: 132px;
    block-size: border-box;
    position: relative;
    display: flex;
    gap: $gapGrid;
}

.filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;

    &__content {
        padding: 0 16px 16px;
        background-color: $colorForHeader4;
    }

    &[open] {
        background: $colorForHeader4;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__heading, &[open] i {
        color: $colorSelectSite;
    }

    &__summary {
        @include customFlex(row, auto, center, nowrap);
        gap: 11px;
        padding-left: 16px;

        &:hover, &:hover .filter__heading {
            color: $colorSelectSite;
        }
    }
    &__heading {
        @include customText($blackColor, 14px, 600, 17px);
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        @include customText($filterLinksColor, 14px, 400, 17px);
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid $borderFilterColor;
        border-left: 5px solid $colorSelectSite;
        transition: all 0.4s ease; 

        &:hover {
            color: $colorSelectSite;
        }
    }

    &__item[open] .filter__head {
        color: $colorSelectSite;
    }

    &__link-box {
        @include customFlex(column, auto, auto, auto);
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        @include customText($filterLinksColor, 14px, 400, 17px);

        &:hover {
            color: $colorSelectSite;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;

    &__details {
        position: relative;
    }

    &__summary {
        @include customFlex(row, auto, center, nowrap);
        gap: 10px;

        &:hover i, &:hover .sort__heading {
            color: $colorSelectSite;
        }
    }

    &__check {
        @include customFlex(row, auto, center, nowrap);
        gap: 9px;
        @include customText($filterLinksColor, 14px, 400, 16px);
        transition: all 0.4s ease; 

        &:hover {
            text-decoration: underline;
            color: $colorSelectSite;
        }     
    }


    &__heading {
        @include customText($filterLinksColor, 14px, 400, 17px);
        white-space: nowrap;
    }

    & i {
        color: $filterLinksColor;
    }

    &__box {
        z-index: 1;
        background: $colorForHeader4;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
        position: absolute;
        left: -8px;
        top: 22px;
        @include customFlex(column, auto, auto, nowrap);
        gap: 8px;
    }
}

.price-bar {
    z-index: 1;
    background: $colorForHeader4;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 16px 32px;
    position: absolute;
    left: 0;
    top: 22px;
}

[slider] {
    position: relative;
    height: 14px;
    width: 400px;
    border-radius: 10px;
    text-align: left;
    margin: 45px 0 10px 0;
}
  
[slider] > div {
    position: absolute;
    left: 13px;
    right: 15px;
    height: 14px;
}
  
[slider] > div > [inverse-left] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}
  
[slider] > div > [inverse-right] {
    position: absolute;
    right: 0;
    height: 14px;
    border-radius: 10px;
    background-color: #CCC;
    margin: 0 7px;
}
  
[slider] > div > [range] {
    position: absolute;
    left: 0;
    height: 14px;
    border-radius: 14px;
    background-color: $colorSelectSite;
}
  
[slider] > div > [thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 28px;
    width: 28px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
    background-color: #FFF;
    border-radius: 50%;
    outline: none;
}
  
[slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}
  
div[slider] > input[type=range]::-ms-track {
    -webkit-appearance: none;
    background: transparent;
    color: transparent;
}
  
div[slider] > input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: transparent;
    color: transparent;
}
  
div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent;
}
  
div[slider] > input[type=range]:focus {
    outline: none;
}
  
div[slider] > input[type=range]::-ms-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}
  
div[slider] > input[type=range]::-moz-range-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
}
  
div[slider] > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none;
}
  
div[slider] > input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none;
}
  
div[slider] > input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none;
}
  
div[slider] > input[type=range]::-ms-tooltip {
    display: none;
}
  
[slider] > div > [sign] {
    opacity: 0;
    position: absolute;
    margin-left: -11px;
    top: -39px;
    z-index:3;
    background-color: $colorSelectSite;
    color: #fff;
    width: 28px;
    height: 28px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}
  
[slider] > div > [sign]:after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 16px;
    top: 19px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: $colorSelectSite;
}
  
[slider] > div > [sign] > span {
    font-size: 12px;
    font-weight: 700;
    line-height: 28px;
}

[slider]:hover > div > [sign] {
    opacity: 1;
}

.product {
    width: $thirdPartOfSite;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
        box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.21);

        & .product__img {
            filter: brightness(30%);
        }

        & .product__add-box {
            display: flex;
            justify-content: center;
        }
    }

    &__img-box {
        position: relative;
        width: 100%;
    }
    
    &__img {
        width: 100%;
    }

    &__add-box {
        width: 100%;
        position: absolute;
        top: 50%;
        display: none;
        pointer-events: none;

        & i {
            color: $colorForHeader4;
        }
    }

    &__add {
        display: flex;
        align-items: center;
        gap: 11px;
        padding: 1rem 2rem;
        border: 1px solid $colorForHeader4;
        pointer-events: all;

        &:hover {
            box-shadow: 0px 0px 8px 0px $colorForHeader4;
        }
    }

    &__add-text {
        @include customText($colorForHeader4, 14px, 400, auto);
    }

    &__content {
        background-color: $productContentBackground;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        @include customText($blackColor, 13px, 400, 16px);
    }

    &__text {
        @include customText($productTextColor, 14px, 300, 17px);
    }

    &__price {
        @include customText($colorSelectSite, 16px, 400, 19px);

    } 
}

.product-pages {
    @include customFlex(row, center, center, nowrap);

    &__box {
        @include customFlex(row, center, center, nowrap);
        gap: 16px;
        padding: 16px;
        border: 1px solid $borderFilterColor;
    }

    &__box>a:first-child, &__box>a:last-child {
        @include customText($blackColor, 16px, 300, auto);
        transition: all 0.4s ease; 

        &:hover {
            color: $colorSelectSite;
        }
    }

    &__box>a:not(a:first-child, a:last-child) {
        @include customText($colorForPageLinks, 16px, 300, auto);
        transition: all 0.4s ease; 

        &:hover {
            text-decoration: underline;
        }
    }
}

#this-page {
    color: $colorSelectSite;
}

// feature block
.feature-container {
    background-color: $titleAndBlockDarkColor;
}

.features {
    @include customFlex(row, center, center, nowrap);
    gap: $gapGrid;
    padding-top: 104px;
    padding-bottom: 104px;
}

.feature {
    text-align: center;

    & img {
        margin-bottom: 32px;
    }

    &>h4 {
        font-size: 20px;
        margin-bottom: 16px;            
    }
}

// subscribe block
.subscribe {
    background: url(../../img/photo-subscribe.png) no-repeat center center fixed;
    background-size: cover;
    @include customFlex(row, space-around, center, nowrap);
    padding-top: 96px;
    padding-bottom: 120px;

    &__info {
        text-align: center;
        float: left;
        width: $halfOfTheSite;

        &>p {
            margin-top: 32px;
            @include customText($titleAndBlockDarkColor, 20px, 400, auto);

            & span {
                font-style: italic;
            }
        }

    }

    &__action-container {
        float: right;
        width: $halfOfTheSite;
        text-align: center;

        &>h3 {
            @include customText($titleAndBlockDarkColor, 24px, 700, 40px);
        }

        &>h4 {
            @include customText($titleAndBlockDarkColor, 18px, 400, 40px);
            margin-bottom: 32px;
        }
    }

    &__action-field {
        display: flex;
    }

    &__input {
        height: 50px;
        width: calc(100% - 100px);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border: 1px solid $subscribeButtonColor;
        background-color: $subscribeButtonColor;
        padding: 0 24px;
        box-sizing: border-box;
    }

    &__button {
        height: 50px;
        width: 100px;
        line-height: 50px;
        background-color: $colorSelectSite;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        @include customText($colorForHeader4, 14px, 400, auto);
        box-sizing: border-box;

        &:hover {
            border: 1px solid $colorSelectSite;
            color: $colorSelectSite;
            background-color: $colorForHeader4;
        }
    }
}

// footer block
.footer {
    background-color: $titleAndBlockDarkColor;
    @include customFlex(row, space-between, center, nowrap);
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright>p {
    width: 332px;
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.social-icons {
    @include customFlex(row, center, center, nowrap);
    gap: 8px;
}

.social-icon {
    height: 32px;
    width: 32px;
    background-color: $colorForHeader4;
    @include customFlex(row, center, center, nowrap);

    &:hover {
        background-color: $colorSelectSite;
        color: $colorForHeader4;
    }
}

@media (min-width: 768px) and (max-width: 1400px) {
    .center {
        padding-left: calc(50% - 370px);
        padding-right: calc(50% - 370px);
    }

    .header-h1 {
        font-size: 44px;
    }

    .header-h2 {
        font-size: 24px;
    }

    .price-bar {
        left: -400px;
    }

    .featured-items-content {
        grid-template-columns: repeat(2, 360px);
        margin-bottom: 48px;
        justify-content: space-around;
    }

    .feature-container .features {
        flex-direction: column;
        gap: 48px;
    }

    .subscribe {
        flex-direction: column;
        padding-bottom: 140px;
        padding-top: 64px;
    }

    .subscribe-info {
        margin-bottom: 48px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {

    .only-desktop {
        display: none;
    }

    .header-h1 {
        font-size: 38px;
    }

    .header-h2 {
        font-size: 20px;
    }

    .center {
        padding-left: calc(50% - 343px / 2);
        padding-right: calc(50% - 343px / 2);
    }

    .sort__heading {
        @include customText($filterLinksColor, 12px, 400, auto);
    }

    .price-bar {
        left: -280px;
    }

    [slider] {
        width: 280px;
    }

    // feature block
    .features {
        flex-direction: column;
        gap: 48px;
    }

    // subscribe block
    .subscribe {
        flex-direction: column;
        padding-bottom: 110px;
        padding-top: 64px;

        &__info {
            margin-bottom: 60px;
            width: 97vw;

            &>p {
                font-size: 18px;
            }
        }

        &__action-container>h4 {
            font-size: 14px;
            line-height: 14px;
        }    

        &__action-field {
            justify-content: center;
        }

        &__input {
            width: 64vw;
        }

        &__button {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    // footer block
    .footer {
        flex-direction: column-reverse;
    }

    .copyright {
        margin-top: 40px;
        text-align: center;
    }
}